@charset "UTF-8";
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 0.3s;
  scroll-behavior: smooth !important;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: black;
  animation: bodyInitAnim 0.2s ease-in forwards;
}

@keyframes bodyInitAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.NavBarDesktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #333;
  padding: 3rem 4rem;
  box-shadow: 0 0 15px gray;
  z-index: 999;
}

.submenu {
  position: absolute;
  background-color: #f5f5f5;
  box-shadow: 0 0 15px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submenu a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 100000000000000;
  text-decoration: none;
  color: #333;
  font-size: 1.25rem;
  width: 100%;
  padding: 0.6rem;
}

.submenu a:hover {
  background-color: #ff3232;
  color: #f5f5f5;
  cursor: pointer;
}

.LogoDesktop img {
  height: 5rem;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px #fd8484;
}

.NavElements {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  list-style: none;
  text-decoration: none;
}

.NavElements a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #333;
}

.NavBarDesktop.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: animacionAbrirNavabrAlbajarDesktop 0.2s ease-in forwards;
}

@keyframes animacionAbrirNavabrAlbajarDesktop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.NavElements li {
  text-decoration: none;
  color: #333;
  font-size: 1.25rem;
}

.NavElements li:hover {
  color: #ff3232;
  cursor: pointer;
  border-bottom: #ff3232 1px solid;
  padding-top: 0.2rem;
}

.user {
  box-shadow: -5px 5px 15px 5px #fd8484;
  border-radius: 9999999999999px;
  padding: 0 0.2rem;
  cursor: pointer;
}

.NavBarMobile {
  display: none;
}

.hidden {
  display: none;
  animation: closeAnimMobile 0.3s ease-in forwards;
}

.closing {
  animation: closeAnimMobile 0.3s ease-in forwards;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
  animation: openAnimMobile 0.3s ease-in forwards;
}

.NavBarMobile.openAnimMobile.active {
  animation: openAnimMobile 0.3s ease-in forwards;
}

.NavBarMobile.closeAnimMobile.active {
  animation: closeAnimMobile 0.3s ease-in forwards;
}

@keyframes closeAnimMobile {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes openAnimMobile {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.MainBody {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  padding: 11% 0;
}

.MainBody::before {
  content: "texto para renderizar la imagen principal";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("res/descarga.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  z-index: -1;
}

.mainContainer {
  margin: 0 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.mainContainer h1 {
  font-size: 3rem;
  font-weight: 700;
}

.mainContainer p {
  font-size: 1.5rem;
  font-weight: 400;
}

.textoMobile {
  display: none;
}

@media (max-width: 768px) {
  .textoMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .NavBarDesktop {
    display: none;
  }
  .NavBarMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #333;
    padding: 3rem 4rem;
    box-shadow: 0 0 15px gray;
    position: sticky;
    top: auto;
    z-index: 999;
    list-style: none;
  }
  .LogoMobile img {
    width: 4rem;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #fd8484;
  }
  .userMobile {
    box-shadow: 0px 5px 15px 5px #fd8484;
    border-radius: 9999999999999px !important;
  }
  .mainContacto {
    flex-direction: column !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .imagenContact {
    display: none !important;
  }
  .mainLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

form div label {
  margin: 0.5rem;
}

form div input,
form div textarea {
  padding: 0.5rem;
}

form div textarea {
  max-width: 100%;
  max-height: 100%;
}

form div input[type=submit] {
  padding: 1rem;
  border-radius: 2.5rem;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.mainContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 0%;
  margin-left: -5rem;
  width: 100%;
}

.imagenContact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 15rem;
  max-width: 15rem;
}

.imagenContact::before {
  position: absolute;
  content: "Contenido de renderizado contacto";
  background-image: url("./res/campo_cantacto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  width: 100%;
  height: 100%;
  filter: blur(15px);
  z-index: -1;
}

.mainContacto form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContacto form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainContacto form div label {
  margin: 0.5rem;
}

.mainContacto form div input {
  outline: #333;
  border: #333 solid 1px !important;
  border-radius: 15px;
}

.mainContacto form div input:focus {
  transition: all 0.3s;
  outline: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px #fd8484;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mainLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}

.block.right {
  left: 50%;
}

.mainLogin form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainLogin form input {
  outline: none;
  border: solid 1px #333;
  border-radius: 15px;
  padding: 0.4rem 0.9rem;
}

.mainLogin form input:focus {
  transition: all 0.3s;
  outline: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px #fd8484;
}

.buttonLoginAccept {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 10px #000000;
}

.buttonLoginAccept:hover {
  background-color: #ff3232;
  color: #f5f5f5;
}

form.animating {
  animation: coverForm 0.2s forwards;
}

@keyframes coverForm {
  0% {
    opacity: 1;
    display: flex;
    translate: translateY(-10%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
    translate: translateY(0%);
  }
}
.teamList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 13rem 17rem;
  align-content: center;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 10rem 3rem;
  border-radius: 15px;
  box-shadow: 0 0 10px #fd8484;
  background-color: #f5f5f5;
  color: #333;
}

@media (max-width: 1100px) {
  .team {
    width: 100%;
  }
  .teamList {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 25%;
  }
}
a {
  text-decoration: none;
  color: #333;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-content p {
  margin: 0;
}

.footer-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-menu li {
  margin-right: 20px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer-menu {
    margin-top: 15px;
  }
  .footer-menu li {
    margin: 0 10px;
  }
  .footer {
    margin-top: 100%;
  }
}/*# sourceMappingURL=style.css.map */